<%= render 'index/header' %>

<main style="position: relative;">
  <%= render 'index/nav' %>

  <div class="main-container">

    <!-- Sections start -->

    <%= render 'index/sections/about' %>

    <%= render 'index/sections/counters' %>

    <%= render 'index/sections/speakers' %>

    <%= render 'index/sections/schedule' %>

    <!-- Sections end -->

  </div>
</main>

<%= render 'index/footer' %>
