<div id="schedule-day-2" class="tab-pane ">
  <!-- Second level content start -->
  <div class="tab-content tab-content-schedule">
    <!-- Main content start -->
    <div class="tab-pane">
      <!-- Accordion start -->
      <div class="panel-group">

        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Palestras</h2>
          </div>
        </div>

        <%= render 'index/sections/schedule_days/template',
          image: '<i class="icon-people"></i>',
          speaker: 'ABNTTigers',
          title: 'Computação Competitiva',
          time: '13:30 - 15:00',
          place: 'Auditório Bloco B',
          descricao: 'Uma conversa com o time ABNTiger que participaram da última maratona nascional de programação.'
        %>

        <%= render 'index/sections/schedule_days/template',
          image: '<i class="icon-people"></i>',
          speaker: 'Profº Emílio, Profª Raquel e Profº Guilherme',
          title: 'Roda de conversa com professores',
          time: '19:00 - 20:30',
          place: 'Auditório Bloco B',
          descricao: 'Tire suas dúvidas com os professores e conheça mais sobre sua caminhadas na Acadêmia'
        %>

        <%= render 'index/sections/schedule_days/template',
          image: image_tag('speakers/becker.jpg', class: 'img-responsive', width: '100%'),
          speaker: 'João Becker',
          title: 'Geração Procedural de Terrenos para Jogos',
          time: '21:00 - 22:30',
          place: 'Auditório Bloco B',
          descricao: 'Geração procedural em jogos é um conjunto de algoritmos usados como uma ferramenta para criar grandes quantidades de conteúdo em arquivos de tamanhos mínimos.'
        %>

        <!-- =============================================================================== -->
        <!-- =============================================================================== -->
        <!-- =============================================================================== -->

        <div class="ui hidden divider"></div>
        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Minicursos</h2>
          </div>
        </div>

        <%= render 'index/sections/schedule_days/template',
          image: image_tag('speakers/raphael.jpg', class: 'img-responsive', width: '100%'),
          speaker: 'Raphael Borges',
          title: 'Visão Computacional',
          time: '13:00 - 17:00',
          place: 'LAB 402 B',
          descricao: 'Descubra e Aprenda o básico de Visão Computacional'
        %>

        <!-- =============================================================================== -->
        <!-- =============================================================================== -->
        <!-- =============================================================================== -->

        <div class="ui hidden divider"></div>
        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Atividades</h2>
          </div>
        </div>

        <%= render 'index/sections/schedule_days/template',
          image: '<i class="icon-people"></i>',
          speaker: 'Campeonato de Truco',
          title: 'Campeonato de Truco',
          time: '13:00 - 17:00',
          place: 'SALA 401 B',
          descricao: 'Junte com sua Dupla e bote a prova todas suas habilidades com o Truco!'
        %>

        </div>

      </div>
      <!-- Accordion end -->
    </div>
    <!-- Main content end -->
  </div>
  <!-- Second level content end -->
