<div class="panel schedule-item">
  <div class="lecture-icon-wrapper">
    <%= image.html_safe %>
  </div>
  <div>
    <strong class="time highlight">
      <i class="icon-clock text-dark"></i> <%= time %> | <%= place %>
    </strong>
    <h4>
      <%= title %>
    </h4>
  </div>
  <div class="schedule-item-body">
    <article>

      <p class="description">
        <%= descricao %>
      </p>
      <strong class="highlight speaker-name">
        Palestrante: <%= speaker %>
      </strong>

    </article>

    <div class="ui divider"></div>
  </div>
</div>
