<section class="section enrollment" id="inscricao">
  <h1 class="ui icon center aligned inverted header" data-scroll>
    <i class="icon-pencil"></i>
    <div class="content">
      Inscrição
      <div class="sub header">
        Escolha uma das categorias de inscrição
      </div>
    </div>
  </h1>

  <div class="container">
    <div class="ui three stackable cards transparent-back" data-scroll>

      <div class="ui raised card">
        <div class="image">
          <%= image_tag 'andrew_s_tanenbaum.jpg' %>
        </div>
        <div class="content">
          <a class="header" href="https://pt.wikipedia.org/wiki/Andrew_Stuart_Tanenbaum" target="_blank">
            Andrew S. Tanenbaum
          </a>
          <div class="meta">
            <span class="date">Criador do MINIX</span>
          </div>
          <div class="description">

            <div class="ui vertical animated fluid large button price-button" tabindex="0">
              <div class="hidden content">INSCREVER-SE</div>
              <div class="visible content">
                GRATUITO
              </div>
            </div>

            <ul class="card-benefits-list">
              <li>
                Palestras
              </li>
              <li>
                <strike>Workshops</strike>
              </li>
              <li>
                <strike>Minicursos</strike>
              </li>
              <li>
                <strike>Campeonatos</strike>
              </li>
            </ul>

          </div>
        </div>
        <div class="extra content">
          <i class="check icon"></i>
          <%= pluralize @users_cat_1, 'Inscrito', 'Inscritos' %>
        </div>
      </div>

      <div class="ui raised card">
        <div class="image">
          <%= image_tag 'alan_turing.jpg' %>
        </div>
        <div class="content">
          <a class="header" href="https://pt.wikipedia.org/wiki/Alan_Turing" target="_blank">
            Alan Turing
          </a>
          <div class="meta">
            <span class="date">Pai da computação</span>
          </div>
          <div class="description">

            <div class="ui vertical animated fluid large button price-button" tabindex="0">
              <div class="hidden content">INSCREVER-SE</div>
              <div class="visible content">
                R$ 15,00
              </div>
            </div>

            <ul class="card-benefits-list">
              <li>
                Palestras
              </li>
              <li>
                Workshops
              </li>
              <li>
                Minicursos
              </li>
              <li>
                <strike>Campeonatos</strike>
              </li>
            </ul>

          </div>
        </div>
        <div class="extra content">
          <i class="check icon"></i>
          <%= pluralize @users_cat_2, 'Inscrito', 'Inscritos' %>
        </div>
      </div>

      <div class="ui raised card">
        <div class="image">
          <%= image_tag 'ada_lovelace.jpg' %>
        </div>
        <div class="content">
          <a class="header" href="https://pt.wikipedia.org/wiki/Ada_Lovelace" target="_blank">
            Ada Lovelace
          </a>
          <div class="meta">
            <span class="date">Primeira programadora da história</span>
          </div>
          <div class="description">

            <div class="ui vertical animated fluid large button price-button" tabindex="0">
              <div class="hidden content">INSCREVER-SE</div>
              <div class="visible content">
                R$ 25,00
              </div>
            </div>

            <ul class="card-benefits-list">
              <li>
                Palestras
              </li>
              <li>
                Workshops
              </li>
              <li>
                Minicursos
              </li>
              <li>
                Campeonatos
              </li>
            </ul>

          </div>
        </div>
        <div class="extra content">
          <i class="check icon"></i>
          <%= pluralize @users_cat_3, 'Inscrito', 'Inscritos' %>
        </div>
      </div>

    </div>
  </div>

</section>
