<section class="section schedule" id="agenda">
  <h1 class="ui icon center aligned header" data-scroll>
    <i class="icon-calendar text-primary"></i>
    <div class="content">
      Agenda
      <div class="sub header">
        Confira toda a programação da VI Semana Acadêmica de Ciência da Computação!
        <br><small>Programação sujeita a mudanças</small>
      </div>
    </div>
  </h1>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div class="container">
      <!-- Schedule start -->
      <div class="schedule">

        <!-- Navigation by day start -->
        <div class="nav-wrapper">
          <ul class="nav nav-schedule">
            <li class="active">
              <a href="#schedule-day-1">
                <h5 class="highlight">O que é ser um Cientista da Computação?</h5>
                <p class="text-alt">19/11/2018</p>
              </a>
            </li>
            <li class="">
              <a href="#schedule-day-2">
                <h5 class="highlight">Como a UFFS contribuição com a Ciência da Computação?</h5>
                <p class="text-alt">20/11/2018</p>
              </a>
            </li>
            <li class="">
              <a href="#schedule-day-3">
                <h5 class="highlight">Dia da Computação Multidisciplinar</h5>
                <p class="text-alt">21/11/2018</p>
              </a>
            </li>
            <li class="">
              <a href="#schedule-day-4">
                <h5 class="highlight">Mercado de Trabalho e Computação.</h5>
                <p class="text-alt">22/11/2018</p>
              </a>
            </li>
            <li class="">
              <a href="#schedule-day-5">
                <h5 class="highlight">Mulheres, Computação e Técnologia</h5>
                <p class="text-alt">23/11/2018</p>
              </a>
            </li>
          </ul>
        </div>
        <!-- Navigation by day end -->

        <!-- First level content start -->
        <div class="tab-content">

          <%= render 'index/sections/schedule_days/day_1' %>

          <%= render 'index/sections/schedule_days/day_2' %>

          <%= render 'index/sections/schedule_days/day_3' %>

          <%= render 'index/sections/schedule_days/day_4' %>

          <%= render 'index/sections/schedule_days/day_5' %>

        </div>
        <!-- First level content end -->

      </div>
      <!-- Schedule end -->
  </div>

</section>
