<section class="section speakers" id="convidados">
  <h1 class="ui icon center aligned header">
    <i class="icon-microphone"></i>
    <div class="content">
      Palestrantes
      <div class="sub header">
        Something in here
      </div>
    </div>
  </h1>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div class="container">
    <div class="ui stackable three column centered grid">
    <div class="column">
      <%= image_tag "speakers/speaker1.jpg", class: 'ui circular centered image' %>
      <h4 class="ui centered speaker header">
        <div class="content">
          <span class="speaker-name">Andrea Warraety</span>
          <div class="sub header">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </div>
        </div>
      </h4>
    </div>
    <div class="column">
      <%= image_tag "speakers/speaker2.jpg", class: 'ui circular centered image' %>
      <h4 class="ui centered speaker header">
        <div class="content">
          <span class="speaker-name">James Rock</span>
          <div class="sub header">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </div>
        </div>
      </h4>
    </div>
    <div class="column">
      <%= image_tag "speakers/speaker3.jpg", class: 'ui circular centered image' %>
      <h4 class="ui centered speaker header">
        <div class="content">
          <span class="speaker-name">Eric Boldi</span>
          <div class="sub header">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </div>
        </div>
      </h4>
    </div>
    <div class="column">
      <%= image_tag "speakers/speaker4.jpg", class: 'ui circular centered image' %>
      <h4 class="ui centered speaker header">
        <div class="content">
          <span class="speaker-name">Martin Branson</span>
          <div class="sub header">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </div>
        </div>
      </h4>
    </div>
    <div class="column">
      <%= image_tag "speakers/speaker5.jpg", class: 'ui circular centered image' %>
      <h4 class="ui centered speaker header">
        <div class="content">
          <span class="speaker-name">Amy Warner</span>
          <div class="sub header">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </div>
        </div>
      </h4>
    </div>
    <div class="column">
      <%= image_tag "speakers/speaker2.jpg", class: 'ui circular centered image' %>
      <h4 class="ui centered speaker header">
        <div class="content">
          <span class="speaker-name">Alec Crosovic</span>
          <div class="sub header">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </div>
        </div>
      </h4>
    </div>
  </div>
  </div>

</section>
